{% assign author = site.author %}
<div itemscope itemtype="http://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ base_path }}/images/{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}" width="512" height="512">
  </div>
  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <p class="author__bio">{{ author.bio }}</p>
  </div>
  <div class="author__urls-wrapper">
    <button type="button" class="btn btn--inverse" aria-expanded="false" aria-controls="contact-links">Contact</button>
    <ul id="contact-links" class="author__urls">
      <li>{% include icon.html name="location" %} {{ author.location }}</li>
      <li><a href="mailto:{{ author.email }}">{% include icon.html name="email" %} Email</a></li>
      <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}">{% include icon.html name="linkedin" %} LinkedIn</a></li>
    </ul>
  </div>
</div>
