<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include seo.html %}
<script>document.documentElement.className = 'js';</script>
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<link rel="icon" type="image/png" sizes="512x512" href="{{ base_path }}/images/selfphoto.png">
<link rel="apple-touch-icon" href="{{ base_path }}/images/selfphoto.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="theme-color" content="#ffffff">
{% if page.math %}{% include mathjax.html %}{% endif %}
